[Match]
Name=enp13s0 enp14s0 enp16s0 enp17s0
Type=ether

[Link]
RequiredForOnline=no

[Network]
Bridge=bridge0

[BridgeVLAN]
VLAN=7

[BridgeVLAN]
VLAN=17

[BridgeVLAN]
VLAN=25